#!/bin/bash
export KUBECONFIG={{ workspace_directory.base_path }}/{{ cluster.name }}/{{ workspace_directory.config_dir }}/auth/kubeconfig
/usr/bin/oc get csr -oname | xargs /usr/bin/oc adm certificate approve
