{% set api_fqdn = "api." + initial_config.cluster_name + "." + initial_config.domain %}
{% set api_int_fqdn = "api-int." + initial_config.cluster_name + "." + initial_config.domain %}
{% set wildcard_fqdn = "apps." + initial_config.cluster_name + "." + initial_config.domain %}

## External dns ##

server={{ networking.external_dns }}

## External dns end ##

## LoadBalancer ##

address=/{{ hostvars['loadbalancer']['host_fqdn'] }}/{{ hostvars['loadbalancer']['host_ip'] }}
dhcp-host={{ hostvars['loadbalancer']['host_mac'] }},{{ hostvars['loadbalancer']['host_ip'] }}

## LoadBalancer end ##

## Required fqdn and wildcard for OCP ##

address=/{{ api_fqdn }}/{{ hostvars['loadbalancer']['host_ip'] }}
address=/{{ wildcard_fqdn }}/{{ hostvars['loadbalancer']['host_ip'] }}
address=/{{ api_int_fqdn }}/{{ hostvars['loadbalancer']['host_ip'] }}

## Required fqdn and wildcard for OCP end ##

## Bootstrap ##

{% for node in groups['bootstrap'] %}
address=/{{ hostvars[node].node_fqdn }}/{{ hostvars[node].node_ip }}
ptr-record={{ hostvars[node].node_reversedns[:-1] }},{{ hostvars[node].node_fqdn }}
dhcp-host={{ hostvars[node].node_mac }},{{  hostvars[node].node_ip }}
{%endfor%}

## Bootstrap end ##

## Etcd ##

{% for node in groups['masters'] %}
address=/{{ hostvars[node].etcd_fqdn }}/{{ hostvars[node].etcd_ip }}
{%endfor%}

## Etcd  end ##

## Masters ##
{% for node in groups['masters'] %}
address=/{{ hostvars[node].node_fqdn }}/{{ hostvars[node].node_ip }}
ptr-record={{ hostvars[node].node_reversedns[:-1] }},{{ hostvars[node].node_fqdn }}
dhcp-host={{ hostvars[node].node_mac }},{{  hostvars[node].node_ip }}
{%endfor%}

## Masters end ##

## Workers ##
{% for node in groups['workers'] %}
address=/{{ hostvars[node].node_fqdn }}/{{ hostvars[node].node_ip }}
ptr-record={{ hostvars[node].node_reversedns[:-1] }},{{ hostvars[node].node_fqdn }}
dhcp-host={{ hostvars[node].node_mac }},{{  hostvars[node].node_ip }}
{%endfor%}

## Workers end ##

## SRV records for etcd service. Priority must be 0 and Weight must be 10 ###

{% for node in groups['masters'] %}
srv-host=_etcd-server-ssl._tcp.{{ initial_config.cluster_name }}.{{ initial_config.domain }},{{ hostvars[node].etcd_fqdn }},2380,0,10
{%endfor%}

## SRV records end ##

## PXE ##

enable-tftp
tftp-root=/var/lib/tftpboot,{{ hostvars['bastion'].host_interface }}
dhcp-boot=pxelinux.0

## PXE end ##

## DHCP ##

dhcp-option=101,"{{ dhcp.timezone }}"
domain={{ initial_config.domain }}
interface={{ hostvars['bastion'].host_interface }}
dhcp-option=option:netmask,{{ networking.internal_network_netmask }}
dhcp-option=option:dns-server,{{ hostvars['bastion'].host_ip }}
dhcp-option=option:ntp-server,{{ dhcp.ntp }}
dhcp-range={{ hostvars['bastion'].host_interface }},{{ dhcp.start }},{{ dhcp.end }},12h

## DHCP end ##

