apiVersion: v1
baseDomain: {{ hostvars['bastion'].domain }}
compute:
- hyperthreading: Enabled
  name: worker
  replicas: 0
controlPlane:
  hyperthreading: Enabled
  name: master
  replicas: {{ cluster_nodes.host_list.masters | count }}
metadata:
  name: {{ hostvars['bastion'].cluster_name }}
networking:
  clusterNetwork:
  - cidr: 10.128.0.0/14
    hostPrefix: 23
  networkType: OpenShiftSDN
  serviceNetwork:
  - 172.30.0.0/16
platform:
  none: {}
pullSecret: '{{ cluster.pullSecret }}'
sshKey: '{{ sshkey }}'
