#!/bin/bash
export KUBECONFIG={{ workspace_directory.base_path }}/{{ cluster.name }}/config/auth/kubeconfig
{% for node in groups['infra'] %}
oc label node {{ hostvars[node].node_fqdn }} node-role.kubernetes.io/worker-
oc label node {{ hostvars[node].node_fqdn }} node-role.kubernetes.io/{{ hostvars[node].ocp_role }}=""
{% endfor %}
