{% set combined = pullJsonSecret.auths | combine(internal_auth | from_json) %}
{% set x = pullJsonSecret.__setitem__("auths", combined) %}
{% set x = cluster.__setitem__("pullSecret", pullJsonSecret) %}
{{ pullJsonSecret }}