#!/bin/bash
export KUBECONFIG={{ workspace_directory.base_path }}/{{ cluster.name }}/config/auth/kubeconfig
htpasswd -c -B -b {{ workspace_directory.base_path }}/{{ cluster.name }}/user.htpasswd {{ cluster.ocp_user }} {{ cluster.ocp_pass }}
/usr/bin/oc create secret generic htpass-secret --from-file=htpasswd={{ workspace_directory.base_path }}/{{ cluster.name }}/user.htpasswd -n openshift-config
/usr/bin/oc apply -f {{ workspace_directory.base_path }}/{{ cluster.name }}/htpasswd_provider.yaml
/usr/bin/oc adm policy add-cluster-role-to-user cluster-admin {{ cluster.ocp_user }}
