#!/bin/bash
export KUBECONFIG={{ workspace_directory.base_path }}/{{ cluster.name }}/config/auth/kubeconfig
/usr/bin/oc patch ingresscontroller/default --type=merge -p '{"spec":{"nodePlacement":{"nodeSelector":{"matchLabels":{"node-role.kubernetes.io/infra": ""}}}}}' -n openshift-ingress-operator
/usr/bin/oc patch ingresscontroller/default -n openshift-ingress-operator --type=merge -p '{"spec":{"replicas": {{ groups['infra'] | count }} }}'

