#!/bin/bash
export KUBECONFIG={{ workspace_directory.base_path }}/config/auth/kubeconfig
/usr/local/bin/oc patch config/cluster --type=merge -p '{"spec":{"nodeSelector":{"node-role.kubernetes.io/infra": ""}}}'
