#!/bin/bash
export KUBECONFIG={{ workspace_directory.base_path }}/config/auth/kubeconfig
oc patch scheduler/cluster --type=merge -p '{"spec":{"defaultNodeSelector": "node-role.kubernetes.io/worker="}}'
