#!/bin/bash
podman run --name mirror -p 5000:5000 -v /opt/registry/data:/var/lib/registry:z -v /opt/registry/auth:/auth:z -e "REGISTRY_AUTH=htpasswd" -e "REGISTRY_AUTH_HTPASSWD_REALM={{ dnsname }}" -e REGISTRY_AUTH_HTPASSWD_PATH=/auth/htpasswd -v /opt/registry/certs:/certs:z -e REGISTRY_HTTP_TLS_CERTIFICATE=/certs/{{ inventory_hostname }}.crt -e REGISTRY_HTTP_TLS_KEY=/certs/{{ inventory_hostname }}.key -d docker.io/library/registry:2