apiVersion: v1
kind: PersistentVolume
metadata:
  name: registry
spec:
  capacity:
    storage: 100Gi 
  accessModes:
  - ReadWriteMany
  nfs: 
    path: /exports/registry
    server: {{ networking.internal_network_ip }} 
  persistentVolumeReclaimPolicy: Retain
  