UI menu.c32 
DEFAULT LOCAL 
PROMPT 0
TIMEOUT 200
ONTIMEOUT LOCAL
MENU TITLE PXE BOOT MENU

{% for item in menu: %}

LABEL {{ item.label }}
  MENU LABEL {{ item.menu_label }} 
  KERNEL {{ downloads.tftp_workspace_dir }}/{{ downloads.boot.kernel }}
  APPEND rd.neednet=1 initrd=rhcos/{{ downloads.boot.initramfs }} console=tty0 coreos.inst=yes coreos.inst.install_dev=sda coreos.inst.ignition_url=http://{{  networking.internal_network_ip }}/{{ downloads.nginix_workspace_dir }}/{{ item.ign }} coreos.inst.image_url=http://{{ networking.internal_network_ip }}/{{ downloads.nginix_workspace_dir }}/{{ downloads.boot.coreos }} ip={{ networking.openshift_node_interface_name }}:dhcp

{% endfor %}

LABEL LOCAL
  MENU LABEL ^4 Boot from local disk
  MENU DEFAULT
  KERNEL /chain.c32
  APPEND hd0 0 

